
@{
    ViewBag.Title = "FetchStore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FetchStore</h2>

<p>1 + 2 = {{1+2}}</p>



<div ng-controller="myController">
    <div class="row">
        <div>
            <div class="col-lg-offset-3 col-lg-6">
                <select name="singleMethod" id="singleMethod" ng-model="data.singleMethod">
                    <option value="GET">GET</option>
                    <option value="HEAD">HEAD</option>
                    <option value="POST">POST</option>
                </select>
                <input type="url" name="inputURL" ng-model="data.theURL" />
                <button ng-click="fetch()">Fetch</button>
                <p>{{data}}</p>
                <p>{{status}}</p>
                <p>{{headers['content-type']}}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-offset-6">
        <button ng-click="store()">Store</button>
    </div>
    
    <p>{{data.singleMethod}}</p>
    <p>{{data.theURL}}</p>
    <p>{{data.resp}}</p>
    <p>{{data.resTime}}</p>
</div>
